<%=render :partial=>"/admins/left"%>

<div id="content">

<div id="pageContainer" class="yui-skin-sam">
<div id="pageNum_0_div">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px;">
 	<tbody><tr>
	 	<td>
		&nbsp;
		</td>	
		<td rowspan="3">
				<img src="/images/crm/blank.gif" width="15" height="1" border="0">
		</td>
	</tr>
	<tr>
				<td valign="top" width="60%">
			<ul class="noBullet" id="col_0_0">
						
				<li class="noBullet" id="dashlet_">
					<div id="dashlet_entire_">
						
				<div onmouseover="this.style.cursor = 'move';" id="dashlet_header_"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tbody><tr>
<td nowrap=""><h3><span><a href="/orders" target="_blank">待处理订单</a></span></h3></td><td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
<td valign="middle" nowrap="" width="100%"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr>
	<td width="99%"></td>
	</tr></tbody></table></td></tr>
</tbody></table></div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="6" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                    <td align="right" nowrap="nowrap">                    
                     
                     <%= will_paginate @orders,:param_name=>"order_page" ,:prev_label => '上一页', :next_label => '下一页'%></td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr height="20">
         <th scope="col" width="18%" nowrap="nowrap">
		   <div style="white-space: nowrap;" width="100%" align="left">              
	                       订单号
           </div>
         </th>
         <th scope="col" width="15%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        订单总价
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        支付状态
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        顾客姓名
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        客户电话
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        下单时间
            </div>
         </th>       	      
	     </tr>
	    <%@orders.each do |order|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/orders/<%=order.id%>"> <%=order.order_num%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=order.total_price%>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=order.has_pay.name if order.has_pay%>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%if order.user%>会员：<%else%>匿名<%end%><%=order.name%>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=order.tel%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=order.updated_at.strftime('%Y-%m-%d %H' )if order.updated_at%></a>		
				</span></td>
		    </tr>
        <%end%>
        
	</tbody></table>
<br> 
					</div>
				</li>

				<li class="noBullet" id="dashlet_242e5510-8fff-a459-5a23-4e7d6438b3ad">
					<div id="dashlet_entire_242e5510-8fff-a459-5a23-4e7d6438b3ad">
						
						<div onmouseover="this.style.cursor = 'move';" id="dashlet_header_242e5510-8fff-a459-5a23-4e7d6438b3ad"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tbody><tr>
<td nowrap=""><h3><span><a href="/material_tasks" target="_blank">物质库管状态</a></span></h3></td><td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
</tr></tbody></table></div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="6" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                    <td align="right" nowrap="nowrap">                    
                  <%= will_paginate @material_tasks ,:param_name=>"material_task_page",:prev_label => '上一页', :next_label => '下一页'%>
                           </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr height="20">
         <th scope="col" width="18%" nowrap="nowrap">
		   <div style="white-space: nowrap;" width="100%" align="left">              
	                       订单号
           </div>
         </th>
         <th scope="col" width="15%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        任务号
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        所属公司
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                       资源名称
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        派单人
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        使用时间
            </div>
         </th>
		    </tr>
          	   <%@material_tasks.each do |material_task|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/orders/<%=material_task.service_task.order.id%>"> <%=material_task.service_task.order.order_num%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/service_tasks/<%=material_task.service_task.id%>"> <%=material_task.service_task.task_num%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/companies/<%=material_task.service_task.company_id%>"> <%=material_task.service_task.company.name%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/<%=material_task.emodel%>/<%=material_task.action_id%>"> <%=material_task.amodel.constantize.name%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/users/<%=material_task.service_task.user_id%>"> <%=material_task.service_task.user.name%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=material_task.updated_at.strftime('%Y-%m-%d %H' )if material_task.updated_at%>		
				</span></td>
		    </tr>
		<%end%> 
          	   
	</tbody></table>
<br> 
					</div>
				</li>
																																														
				<li class="noBullet" id="dashlet_44278365-d567-c0fe-53dc-4e7d649c5374">
					<div id="dashlet_entire_44278365-d567-c0fe-53dc-4e7d649c5374">
						
						<div onmouseover="this.style.cursor = 'move';" id="dashlet_header_44278365-d567-c0fe-53dc-4e7d649c5374">
							<table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tbody><tr>
<td nowrap=""><h3><span><a href="/works" target="_blank">人员调配状态</a></span></h3></td><td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
<td valign="middle" nowrap="" width="100%"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td width="99%"></td>
	<td nowrap="" width="1%">
		
	</td></tr></tbody></table></td></tr>
</tbody></table></div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="6" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                     <%= will_paginate @task_entries,:param_name=>"task_entry_page" ,:prev_label => '上一页', :next_label => '下一页'%>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr height="20">
         <th scope="col" width="18%" nowrap="nowrap">
		   <div style="white-space: nowrap;" width="100%" align="left">              
	                       订单号
           </div>
         </th>
         <th scope="col" width="15%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        任务号
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        所属公司
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                       人员名称
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        派单人
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        服务时间
            </div>
         </th>
		    </tr>
		  <%@task_entries.each do |task_entry|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/orders/<%=task_entry.service_task.order.id%>"> <%=task_entry.service_task.order.order_num%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/service_tasks/<%=task_entry.service_task.id%>"> <%=task_entry.service_task.task_num%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/companies/<%=task_entry.company_id%>"> <%=task_entry.company.name%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/works/<%=task_entry.work_id%>"> <%=task_entry.work.name%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/users/<%=task_entry.service_task.user_id%>"> <%=task_entry.service_task.user.name if task_entry.service_task.user%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=task_entry.updated_at.strftime('%Y-%m-%d %H' )if task_entry.updated_at%>		
				</span></td>
		    </tr>
          <%end%>
        
	</tbody></table>
    <br> 
	</div>
	</li>
		<li id="page_0_hidden0" style="height: 5px" class="noBullet">&nbsp;&nbsp;&nbsp;</li>
			</ul>
	</td>
		
	<td valign="top" width="40%">
			<ul class="noBullet" id="col_0_1">
		        <li class="noBullet" id="dashlet">
					<div id="dashlet_entire">
						
						<div onmouseover="this.style.cursor = 'move';" id="dashlet_header" style="cursor: move; ">
							<table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
								<tbody><tr>
									<td nowrap=""><h3><span><a href="/service_tasks" target="_blank">待处理任务</a></span></h3></td>
									<td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
									</tr>
								</tbody>
							</table>
						</div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="7" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                    <td align="right" nowrap="nowrap">                    
                     <%= will_paginate @service_tasks ,:param_name=>"service_task_page",:prev_label => '上一页', :next_label => '下一页'%>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
  <tr height="20">
         <th scope="col" width="18%" nowrap="nowrap">
		   <div style="white-space: nowrap;" width="100%" align="left">              
	                       订单号
           </div>
         </th>
         <th scope="col" width="15%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        任务号
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        服务名称
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                       数量
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        小结
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        使用时间
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        客户电话
            </div>
         </th>
		    </tr>
		<%@service_tasks.each do |service_task|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/orders/<%=service_task.order.id%>"> <%=service_task.order.order_num%></a>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/service_tasks/<%=service_task.id%>"> <%=service_task.task_num%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/products/<%=service_task.line_item.product_id%>"> <%=service_task.line_item.product.title if service_task.line_item.product%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=service_task.line_item.quantity%>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=service_task.line_item.total_price%>
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=service_task.updated_at.strftime('%Y-%m-%d %H' )if service_task.updated_at%>		
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/user/<%=service_task.order.user_id%>"><%=service_task.order.tel%></a>	
				</span></td>
		    </tr>
        <%end%> 	
	</tbody></table>
<br> 
					</div>
				</li>

				<li class="noBullet" id="dashlet_2f2ff127-37ef-f768-ca0b-4e7d64aa823f">
					<div id="dashlet_entire_2f2ff127-37ef-f768-ca0b-4e7d64aa823f">
						
						<div onmouseover="this.style.cursor = 'move';" id="dashlet_header_2f2ff127-37ef-f768-ca0b-4e7d64aa823f"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tbody><tr>
<td nowrap=""><h3><span><a href="/vips" target="_blank">VIP办卡记录</a></span></h3></td><td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
</tr>
</tbody></table></div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="5" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                    <td align="right" nowrap="nowrap">                    
                    <%= will_paginate @vips,:param_name=>"vip_page" ,:prev_label => '上一页', :next_label => '下一页'%> </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr height="20">
        <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        VIP卡号
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                       VIP姓名
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        VIP类型
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        电话
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        邮箱
            </div>
         </th>
		    </tr>
          <%@vips.each do |vip|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/vips/<%=vip.id%>"> <%=vip.vip_num%></a>
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/users/<%=vip.user_id%>"><%=vip.user.name%></a></td>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip.vip_style.name%>
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%if vip.user%><%=vip.user.user_profile.tel_num %><%end%>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip.user.email%>
				</span></td>
		    </tr>
        <%end%>
	</tbody></table>
<br> 
					</div>
				</li>
						
										
	<li class="noBullet" id="dashlet_2f2ff127-37ef-f768-ca0b-4e7d64aa823f">
		<div id="dashlet_entire_2f2ff127-37ef-f768-ca0b-4e7d64aa823f">
						
			<div onmouseover="this.style.cursor = 'move';" id="dashlet_header_2f2ff127-37ef-f768-ca0b-4e7d64aa823f"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tbody><tr>
<td nowrap=""><h3><span><a href="/vip_records" target="_blank">VIP消费记录</a></span></h3></td><td width="20"><img height="1" width="20" src="/images/crm/blank.gif" alt=""></td>
</tr>
</tbody></table></div>

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="list view">
    <tbody><tr class="pagination">
        <td colspan="6" align="right">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="left">&nbsp;</td>
                    <td align="right" nowrap="nowrap">                    
                    <%= will_paginate @vip_records,:param_name=>"vip_record_page" ,:prev_label => '上一页', :next_label => '下一页'%> </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr height="20">
        <th scope="col" width="18%" nowrap="nowrap">
		   <div style="white-space: nowrap;" width="100%" align="left">              
	                       订单号
           </div>
         </th>
         <th scope="col" width="15%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        VIP卡号
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        特权类型
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                       数量
            </div>
         </th>
         <th scope="col" width="10%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        客户电话
            </div>
         </th>
         <th scope="col" width="18%" nowrap="nowrap">
			<div style="white-space: nowrap;" width="100%" align="left">                 
	                        使用时间
            </div>
         </th>
		    </tr>
          <%@vip_records.each do |vip_record|%>
		    <tr height="20" class="oddListRowS1">	
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<a href="/vip_records/<%=vip_record.id%>"> <%=vip_record.order.order_num%></a>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip_record.user.vips[0].vip_num%>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip_record.vip_service.description%>
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip_record.timenum%>	
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip_record.user.user_profile.tel_num%>
				</span></td>
				<td scope="row" align="left" valign="top" class="oddListRowS1" bgcolor=""><span sugar="sugar0b">
					<%=vip_record.updated_at.strftime('%Y-%m-%d' )if vip_record.updated_at%>	
				</span></td>
		    </tr>
        <%end%>
	</tbody></table>
<br> 
					</div>
				</li>						
	<li id="page_0_hidden1" style="height: 5px" class="noBullet">&nbsp;&nbsp;&nbsp;</li>
			</ul>
		</td>
		
			</tr>
</tbody></table>
	</div>
	
		<div id="pageNum_0_div" style="display:none;">
	</div>
</div>


</div>



