
<!--新鲜事列表-->		
<%=javascript_include_tag 'school_menu'%>		
<%= stylesheet_link_tag 'school_show' %>		
<%= stylesheet_link_tag 'school_index' %>
 <div class="TabTitle" style="width:534px ">
        <ul id="myTab0">
          <li class="active" onclick="snTabs(this,0);"><%='关于T2MAX'%></li>
          <li class="normal" onclick="snTabs(this,1);"><%='六大优势'%></li>
          <li class="normal" onclick="snTabs(this,2);"><%='联系我们'%></li>
        </ul>
      </div>
<div class="snTab">
      <!-- 标题开始 -->
  
      <!-- 内容开始 -->
 <div class="TabContent">
   
 <div id="myTab0_Content0">  
 	    <div align="center" style="margin-bottom:14px  "><img src="/images/oldimages/bhrLogo.png" align="center"></div>
 	    <div style="background-color:#8ed8f8;height:1px;width:600px;margin-left:70px " ></div>
 	    
 	    <div style="margin-bottom:4px;margin-top:14px   " > 
		<div style="width:418px;margin-right:2px;margin-left:0px;float:left;height:200px   ">
			<div style="margin-top:108px ">
			T2max以“Time, Terminal, Traveler"为核心经营要素,立足于空港，力求打造更加深入和宽泛的服务，在吸收了海内外各知名机场配套服务的有点后，将机票酒店预订、商务秘书、机场VIP快捷通道、贵宾接送机、免税品订购等融合为一站式服务，打造出创新的空港现代服务平台，并树立了顶级的“机场商旅服务管家”形象。
			</div>
		</div>
		<div style="float:right;margin-right:16px  "><img src="/images/discription/t2maxjj2.png"></div>
		</div>
		
		<div style=" float:left;margin-right:16px ;margin-bottom:10px ">T2MAX填补了目前上海高端商务旅行市场的缺失，让社会精英们充分享受到私人会所的设施。提供了高品质服务来满足商业精英、时尚人士、社会名流的特别需求。拥有超过4000平方米的空间，俯瞰浦东国际机场的宽广跑道，体验飞机抵离时近距离的感受，T2MAX将成为精英们难得的尊享空间。除了舒适私密的会所环境，T2MAX设计更花费1000万人民币建造了一个独特的现代会所，可接待150位客人，包括1个私人餐厅，40间贵宾室，一层的计时休憩客房，并配有一个小型会议室</div>
	    
	
		<div style="margin-top:10px" ><img src="/images/discription/t2maxjj3.png" align="center"></div>
		<div style="margin-top:10px;margin-right:16px" >T2MAX将最好的留在最后，在会所里将为我们的特权会员和股东提供享用的专区。欣赏飞机近在咫尺起降的壮丽的景色，享用着鸡尾酒廊、超大床垫、顶级水疗按摩设施和宁静的音景。还有什么比一边等着坐飞机出行，一边在高雅的会所里享受按摩理疗更快乐的呢？</div>
		<div style="margin-top:10px;height:130px  " >T2MAX将成为上海社会高端精英的终极象征。</div>
	       
   	            	
     <div class="clear">&nbsp;</div>
  </div>
       
  <div id="myTab0_Content1" class="none1">  
  	     	<div>
  	     	<div style="float:left;"><img src="/images/discription/1.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>地理位置</b><br>
  	     		上海机场不仅是上海的窗口也是中国的窗口，目前上海枢纽领先于全国T2max在机场的服务场所皆在航站楼的核心区域，交通方便，指引明显
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        <div style="margin-right:16px;margin-top:10px "><hr></div>
            
            <div style="margin-top:10px">
  	     	<div style="float:left;"><img src="/images/discription/2.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>便捷服务</b><br>
  	     		您只需在www.T2max.com轻点鼠标或是拨打4008XXXXXX，由美国XXX公司量身开发的T2max信息化系统将按排好您所需的一切
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        <div style="margin-right:16px;margin-top:10px  "><hr></div>
  	        
  	        <div style="margin-top:10px">
  	     	<div style="float:left;"><img src="/images/discription/3.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>管家服务</b><br>
  	     		为您所想，想您所未曾想。我们经过英国管家行会培训的私人管家将以您为尊，全面贴心的照顾好您的习惯、心情和需求。
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        <div style="margin-right:16px;margin-top:10px  "><hr></div>
  	        
  	        <div style="margin-top:10px">
  	     	<div style="float:left;"><img src="/images/discription/4.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>非凡细节</b><br>
  	     		T2max打造非凡细节，无论是设备或用具都彰显王者气概，在环境的布局中更以人体五感为轴心,体现视觉的美感,听觉的悦耳
  	     		,嗅觉的芬芳,味觉的奢华,触觉的舒适. 为您带来舒心感受
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        <div style="margin-right:16px;margin-top:10px  "><hr></div>
  	        
  	        <div style="margin-top:10px">
  	     	<div style="float:left;"><img src="/images/discription/5.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>平台伙伴</b><br>
  	     		T2max与天合联盟、星空联盟、寰宇一家全球三大航空联盟都建立了合作，是上海机场贵宾公司的战略合作伙伴，全球品牌酒
  	     		店联盟成员，更是顶级私人俱乐部、多国在沪商会的指定接待平台
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        <div style="margin-right:16px;margin-top:10px  "><hr></div>
  	        
  	        <div style="margin-top:10px">
  	     	<div style="float:left;"><img src="/images/discription/6.png" /> </div>
  	     	<div style="float:right;width: 650px;margin-right:16px;margin-left:2px;margin-top:20px  ">
  	     		<b>行业荣誉</b><br>
  	     		中国机场配套航班休闲商务保健【公众满意最佳典范品牌】
  	     	</div> 	     	
  	        </div>
  	        <div class="clear">&nbsp;</div>
  	        
  	     
     <div class="clear">&nbsp;</div>
   </div>
 
      
  <div id="myTab0_Content2" class="none1">  	
  	    <div style="margin-left:10px;margin-top:20px  ">
  	    直线电话/Tel: (021) 6278 3692<br/>
  	    客服热线：400 008 7272<br/>
  	    手机/Mobile:  186 2136 2813<br/>
  	    电邮/E-mail：   helen@t2max.com<br/>
  	    
  	  中国上海市延安西路2588号  <br/>
  	  千禧海鸥大酒店 3喽A室201103<br/>
  	 Room A,Floor 3,Milennium Hongqiao Shanghai<br/>
  	 2588 West YanAn Road,Shanghai,Chain,201103<br/>
  	    </div>
  	    
  	    
  	    
<div style="margin-left:10px;margin-top:20px  ">  	    
Q: 您经常为了转机或航班延误滞留在机场吗？<br/>
A: T2MAX为您全方位解决机场候机时间商务休闲活动。<br/>
Q: Have you ever been stranded in airport because of transfer & flight delay? <br/>
A: T2max will provide you entertainment during that time. <br/>
<br/>
Q: 您经常因为长途飞行而感到疲惫不堪吗？<br/>
A: T2MAX Spa为您全面舒缓旅途的疲劳。<br/>
Q: Do you often feel tired after a long flight?<br/>
A: T2max spa service will help you relax.<br/>
<br/>
Q: 您常接待国际重要客户吗？<br/>
A: 我们帮您预约高规格接送机服务。<br/>
Q: Do you often receive international important customer? <br/>
A: We can help you make an appointment for high specification pick up service.<br/>
<br/>
Q: 您常因为时间紧张而一天内往返奔波于几个城市之间？<br/>
A: 我们在机场内为您准备了小型功能性会议室，您可以不入境在机场内召开会议，然后继续您的旅程。<br/>
Q: Do you often travel back and forth between several cities for meetings in one day?<br/>
A: We have prepared small functional meeting rooms that you can held a meeting without leaving airport and continue your travel.<br/>
<br/>
Q: 您常为安检排队等待而苦恼吗?<br/>
A: 成为T2MAX会员, 您可随时享受快捷通道。<br/>
Q: Are you often distressed about waiting for security check?<br/>
A: Becoming a t2max member , you’ll have priority pass for VIP .<br/>
<br/>
Q: 您常为行程的安排而伤脑筋吗？<br/>
A: 我们的商务秘书为您全程策划安排服务。<br/>
Q: have you often been confused of trip arrangement?<br/>
A: our personal assistant will arrange all plans for you.<br/>
</div>
  	    
  	    
  	    
  	    
    <div class="clear">&nbsp;</div>
  </div>
        
        <div style="background-color:#d9d9d9;height:200px;padding:10px ;margin-top:10px " >
   	       	<div>
   	       	<div style="margin-left:10px;margin-bottom:20px"><font color="8ed8f8" size="14px" >服务内容</font></div>
   	       	</div>
   	       	<div>
   	       		<div style="width:200px;margin-left:10px;float:left   ">
   	       			<b>机场服务</b><br>
					≯VIP快捷通道和贵宾接送机服务<br>
					≯SPA美发美甲、足浴、中医理疗<br>
					≯商务会议、健身、儿童乐园<br>
					≯计时客房、精致餐饮<br>
					≯棋牌、专业雪茄品鉴<br>
					≯中华传统文化演出秀     			
   	       		</div>
   	       		<div style="width:200px;margin-left:80px;float:left   ">
   	       			<b>酒店及机票预订</b><br>
					≯国际酒店预定<br>
					≯国内酒店预定<br>
					≯实时航班抵离查询<br>
					≯实时路况交通查询<br>
					≯商务舱和公务舱机票特惠预订
   	       		</div>
   	       		<div style="width:200px;margin-left:80px;float:left   ">
   	       			<b>特色服务</b><br>
					≯形象塑造服务<br>
					≯商务秘书服务<br>
					≯机场免税商品预订<br>
					≯全天候交通及安保服务
   	       		</div>
   	       	</div>
   	       	
   	    </div>
       
</div>  
</div>


     