<%=render :partial=>"/admins/left"%>


  <div id="content">
        <table style="width:100%"><tbody><tr><td width="100%">
      <div class="moduleTitle">
<h2>新增跟单服务</h2>
<span>&nbsp;
<a href="" class="utilsLink" target="_blank">
<img src="/images/crm/help.gif" alt="帮助"></a>
<a href="/help" class="utilsLink" target="_blank">
帮助
</a></span></div>
<%if !@order%>
<script>
var keys = [ "Accounts|basic_search","Accounts|advanced_search"]; 
tabPreviousKey = '';

function selectTabCSS(key)
{ for( var i=0; i<keys.length;i++)
  {
   var liclass = '';
   var linkclass = '';

 if ( key == keys[i])
 {
   var liclass = 'active';
   var linkclass = 'current';
 }
  	document.getElementById('tab_li_'+keys[i]).className = liclass;

  	document.getElementById('tab_link_'+keys[i]).className = linkclass;
  }
    SUGAR.searchForm.searchFormSelect(key, tabPreviousKey);
    tabPreviousKey = key;
}
</script>

<ul id="searchTabs" class="tablist">
<li class="active" id="tab_li_Accounts|basic_search"><a class="current" id="tab_link_Accounts|basic_search" href="javascript:selectTabCSS('Accounts|basic_search');">基本查找</a></li>	
</ul>
<script></script>

<form name="search_form" id="search_form" class="search_form" method="get" action="/vips/vips_search">
<input type="hidden" name="searchFormTab" value="basic_search">
<div id="Accountsbasic_searchSearchForm" style="" class="edit view search">

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
	<td scope="row" nowrap="nowrap" width="8.3%">订单号</td>
	<td nowrap="nowrap" width="25%"><input type="text" name="name" id="name" size="30" maxlength="" value="" title="" tabindex=""> </td>
	</tr>
<tr>
	<td colspan="5">&nbsp;</td>
	<td style="text-align: right">	</td>
</tr>
</tbody></table>

</div>
<div id="Accountsadvanced_searchSearchForm" style="display: none; " class="edit view search">
	

<script>

	if(typeof(loadSSL_Scripts)=='function'){
		loadSSL_Scripts();
	}
	
</script><script language="javascript">if(typeof sqs_objects == 'undefined'){var sqs_objects = new Array;}sqs_objects['search_form_modified_by_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["modified_by_name_advanced","modified_user_id_advanced"],"required_list":["modified_user_id"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"\u6ca1\u6709\u5339\u914d"};sqs_objects['search_form_created_by_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["created_by_name_advanced","created_by_advanced"],"required_list":["created_by"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"\u6ca1\u6709\u5339\u914d"};sqs_objects['search_form_assigned_user_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["assigned_user_name_advanced","assigned_user_id_advanced"],"required_list":["assigned_user_id"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"\u6ca1\u6709\u5339\u914d"};sqs_objects['search_form_parent_name_advanced']={"form":"search_form","method":"query","modules":["Accounts"],"group":"or","field_list":["name","id"],"populate_list":["search_form_parent_name_advanced","parent_id_advanced"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"required_list":["parent_id"],"order":"name","limit":"30","no_match_text":"\u6ca1\u6709\u5339\u914d"};sqs_objects['search_form_campaign_name_advanced']={"form":"search_form","method":"query","modules":["Campaigns"],"group":"or","field_list":["name","id"],"populate_list":["campaign_name_advanced","campaign_id_advanced"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"required_list":["campaign_id"],"order":"name","limit":"30","no_match_text":"\u6ca1\u6709\u5339\u914d"};</script></div>
<div id="Accountssaved_viewsSearchForm" style="display: none; " ;=""></div>
<span class="white-space">
</span>
<%= submit_tag("查找", :name => "send",:class=>'button') -%>
</form>
<%end%>


<% form_for(@service_task) do |f| %>
  <%= f.error_messages %>
<%if @order%>
<div id="LBL_ACCOUNT_INFORMATION">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="edit view">
<tbody><tr><th align="left" colspan="8">
<h4>订单信息</h4>
</th>
</tr>
<tr>
	
<td valign="top"  width="12.5%" scope="row">
   <%= f.label :订单号 %><!-- <span class="required">*</span> --><br />
</td>
<td valign="top" width="37.5%">
   <%=text_field :order, :order_num%>
</td>
<td valign="top"  width="12.5%" scope="row">
   <%= f.label :处理类型 %><br />
</td>
<td valign="top" width="37.5%">
   <%=f.select( :dostyle_id, Dostyle.all.collect {|p| [ p.name, p.id ] },:include_blank => true)%>
</td>

</tr>


</tbody></table>
</div>
<div id="LBL_ADDRESS_INFORMATION">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="edit view">
<tbody><tr><th align="left" colspan="8">
<h4>订单项目</h4>
</th>
</tr>
<tr>
<td valign="top" width="100%">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
	<tr>
		
<td valign="top"  width="1%" >
   <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
</td>
<td valign="top"  width="15%" >
   <b><%= f.label :商品名称 %></b>
</td>
<td valign="top" width="15%">
    <b><%= f.label :商品类型%></b>
</td>
<td valign="top"  width="10%" >
   <b><%= f.label :数量 %></b>
</td>
<td valign="top" width="10%">
    <b><%= f.label :单价%></b>
</td>
<td valign="top"  width="10%" >
   <b><%= f.label :小结 %></b>
</td>
<td valign="top" width="15%">
   <b><%= f.label :使用日期%></b>
</td>
<td valign="top"  width="15%">
   <b><%= f.label :支付状态 %></b>
</td>
<td valign="top" width="15%">
   <b><%= f.label :处理状态%></b>
</td><%=f.hidden_field :order_id, :value =>@order.id %>
</tr>	
<%@order.line_items.each do |line_item|%>
	    	<tr height="20" class="oddListRowS1" style="background-color:#ffffff ">
			
			<td width="1%" class="nowrap">
							<%if @line_item_ids%><%= check_box_tag "order[line_item_ids][]",line_item.id,@line_item_ids.include?(line_item.id.to_s) %> 
							<%else%>
							<%= check_box_tag "order[line_item_ids][]",line_item.id %>
							<%end%>                                                           	 
			</td>
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot2b">
				<%=line_item.product.title%>
				</span></td>		
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b">
				<%if line_item.product.service_style%>
				<%=line_item.product.service_style.name%>
				<%elsif line_item.product.service&&line_item.product.service.service_style%>
				<%=line_item.product.service.service_style.name%>
				<%end%>
				</span></td>	
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%=line_item.quantity%></span></td>
														
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%=line_item.price%></span></td>
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%=line_item.total_price%></span></td>
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%=line_item.totime%></span></td>
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%if line_item.order.has_pay%><%=line_item.order.has_pay%><%else%><font color="#ff0000">未支付</font><%end%></span></td>
				
			  
			<td scope="row" valign="top" nowrap="nowrap"><span sugar="slot5b"><%if line_item.situation%><%=line_item.situation%><%else%><font color="#ff0000">未处理</font><%end%></span></td>
		
					
		</tr><%end%>	
</tbody></table>
<script type="text/javascript" language="javascript">
    var fromKey = '';
    var toKey = 'billing';
    var checkbox = toKey + "_checkbox";
    var obj = new TestCheckboxReady(checkbox); 
</script>
</td><td valign="top" width="50%">
<script type="text/javascript" src="include/SugarFields/Fields/Address/SugarFieldAddress.js"></script>


</td></tr>
</tbody></table>
</div>
<%end%>
<div id="LBL_EMAIL_ADDRESSES">


<div id="LBL_DESCRIPTION_INFORMATION">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="edit view">
<tbody><tr><th align="left" colspan="8">
<h4>说明信息</h4>
</th>
</tr><tr>
<td valign="top"  width="12.5%" scope="row">
   <%= f.label :说明 %><!-- <span class="required">*</span> --><br />
</td>
<td valign="top" width="37.5%">
	<%= f.text_area :description, :cols => 80, :rows => 6%>

</td>

</tr>
<tr>
<td valign="top" id="_label" width="12.5%" scope="row">
</td>
<td valign="top" width="37.5%">
</td><td valign="top" id="_label" width="12.5%" scope="row">
</td>
<td valign="top" width="37.5%">
</td></tr>
</tbody></table>
</div>
<div class="buttons">
  <p>
    <%= f.submit '保存' %>
  </p><% end %>
</div>

        </td></tr></tbody></table>
    </div>

