<%=stylesheet_link_assets_tag "login_and_sign"%>
<title><%=t :reset_pass_request%></title>
	<div class="container">
		<div class="login" style="width:95%">
			<%if flash[:notice]%>
			<p style="color:#000;"><%= flash[:notice] %></p>
			<%end%>
			<h2 class="subdued"><%=t :reset_pass_request%></h2>
				<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
			       <fieldset style="border: none;">
			        <div style="margin:40px;" class="form-warning">
			        <p> <br /><%=t :input_email%></p>
			        <p style="margin: 20px;"> 
			            <label for="user_email" ><%=t :email_address%>:</label>
			            <%= form.text_field :email,:class => 'text input' %>
			        </p>
			        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        	<%=image_submit_tag("/images/send.png",:title=>"Send")%></p>
			        </div>
			       </fieldset>
			    <% end %>
		</div>
	</div>
