 <div id="nav"> 
				<ul>
					 <%=this_title_select :huayu%> 
			  		 <%=this_title_select :huayucompany_desc%>
			  		 <%=this_title_select :huayu_news%>
			  		 <%=this_title_select :huayuproduct%>
			  		 <%=this_title_select :huayusaved%>			  		 
			  		 <%=this_title_select :carender%> 
			  		 <%=this_title_select :huayucontact_us%>
			  	</ul>
</div>    