 <div id="nav"> 
				<ul>
					 <%=this_title_select :home,""%> 
			  		 <%=this_title_select :company_desc%>
			  		 <%=this_title_select :air_nav%>
			  		 <%=this_title_select :membership%>
			  		 <%=this_title_select :jifenshop%>			  		 
			  		 <%=this_title_select :carender%> 
			  		 <%=this_title_select :contact_us%>
			  	</ul>
</div>    