
  		<div class="module">
  			<div id="left-content">
  				<%=render :partial=>"/shared/categories"%>
  			</div>
  			
  			<div >
				<div class="slide_right">
					<div style="margin-left: 30px;">
						<h1><font color="#a1daf8" ><%=t :carender%></font></h1>
					</div>
				</div>		
													
				<div id="productions-content">
					
						<%for position in @cad_positions%>
					        <table border="2px" bordercolor="#a1daf8">
			     	    	<tr>
			     	    		<td rowspan="3" width="300px" align="left" height="120px" style="padding-left:5px "><h3><font size="4px" ><%=position.dept.name if position.dept%>.</font><font color="#888" size="2px" ><%=position.positionname%></font></h3></td>
			     	    		<td rowspan="3" width="400px" align="center" style="padding:5px ">
			     	    		<%= truncate(position.describe.gsub(/<[^>]*>/, ""), 200) %>		     	    			
			     	    		</td>
			     	    		<td rowspan="3" width="300px"  align="center"><h3><font size="4px" ><%=t :yingpin%></font></h3></td>
			     	    	</tr>		     	    	
			              </table><br>
                       <%end%>
                    <%if @cad_positions.size>1%>
					<%= will_paginate @cad_positions ,:prev_label => '上一页', :next_label => '下一页'%>
				    <%end%>
			    </div>			     				     	
  				</div>
  			</div>
  		</div>
		