<%=render :partial=>"/admins/left"%>

<div id="content">
<% form_for(@company) do |f| %>
   <div id="LBL_ACCOUNT_INFORMATION">
       <table width="100%" border="0" cellspacing="1" cellpadding="0" class="edit view">
         <tbody><tr><th align="left" colspan="8">
               <h4>盟友信息</h4>
             </th>
           </tr>
           <tr>
             <td valign="top" id="name_label" width="12.5%" scope="row">
               <%= f.label :公司卡号 %><span class="required">*</span><br />
             </td>
             <td valign="top" width="37.5%">
               <%= f.text_field :comnum%>
             </td>
             <td valign="top" id="name_label" width="12.5%" scope="row">
               <%= f.label :公司名称 %><span class="required">*</span><br />
             </td>
             <td valign="top" id="name_label" width="12.5%" scope="row">
              <%= f.text_field :name%>
             </td>
           </tr>
 
 			<tr>
             <td valign="top" id="name_label" width="12.5%" scope="row">
               <%= f.label :公司电话 %><span class="required">*</span><br />
             </td>
             <td valign="top" width="37.5%">
               <%= f.text_field :tel%>
             </td>
             <td valign="top" id="name_label" width="12.5%" scope="row">
               <%= f.label :公司邮箱 %><span class="required">*</span><br />
             </td>
             <td valign="top" id="name_label" width="12.5%" scope="row">
              <%= f.text_field :email%>
              </td>
           </tr>
 
         </tbody>
       </table>
        <p>
        <%= f.submit '保存' %>&nbsp;&nbsp;&nbsp;
        <button type="button" class="button" title="返回列表" onclick="document.location.href='/companies'">返回列表</button>
        </p>
<% end %>

</div>