<%=render :partial=>"/admins/left"%>
  <div id="content">
        <table style="width:100%"><tbody><tr><td width="100%">
      <div class="moduleTitle">
<h2>绩效</h2>
<span>&nbsp;
<a href="" class="utilsLink" target="_blank">
<img src="/images/crm/help.gif" alt="帮助"></a>
<a href="/help" class="utilsLink" target="_blank">
帮助
</a></span></div>

<script>
var keys = [ "Accounts|basic_search","Accounts|advanced_search"]; 
tabPreviousKey = '';

function selectTabCSS(key)
{ for( var i=0; i<keys.length;i++)
  {
   var liclass = '';
   var linkclass = '';

 if ( key == keys[i])
 {
   var liclass = 'active';
   var linkclass = 'current';
 }
  	document.getElementById('tab_li_'+keys[i]).className = liclass;

  	document.getElementById('tab_link_'+keys[i]).className = linkclass;
  }
    SUGAR.searchForm.searchFormSelect(key, tabPreviousKey);
    tabPreviousKey = key;
}
</script>

<ul id="searchTabs" class="tablist">
<li class="active" id="tab_li_Accounts|basic_search"><a class="current" id="tab_link_Accounts|basic_search" href="javascript:selectTabCSS('Accounts|basic_search');">新建</a></li>	
</ul>
<script></script>


<font color="#ff0000"><%=flash[:notice]%></font>
<% form_for(@checkin) do |f| %>
  <%= f.error_messages %>

<div id="LBL_ADDRESS_INFORMATION">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="edit view">
<tbody><tr><th align="left" colspan="4">
<h4>绩效</h4>
</th>
</tr>
	 <tr>	
	 		<td scope="row" nowrap="nowrap" width="8.3%">公司：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :company_id%></td>	
			<td scope="row" nowrap="nowrap" width="8.3%">部门：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :dept_id%></td>
			<td scope="row" nowrap="nowrap" width="8.3%">员工：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :work_id%></td>		
	 </tr>
	 <tr>	
	 		<td scope="row" nowrap="nowrap" width="8.3%">事件：</td>
			<!-- <td nowrap="nowrap" width="15%"> -->
<!-- 				<%#= calendar_date_select_tag "checkin[for_time]",@checkin.for_time ? @checkin.for_time.strftime('%Y-%m-%d' ):Time.now.strftime('%Y-%m-%d' ) ,:time => true %>	 -->			</td>	
			<td nowrap="nowrap" width="15%"><%=f.text_field :event_id%></td>			
			<td scope="row" nowrap="nowrap" width="8.3%">记录员：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :user_id%></td>
			<td scope="row" nowrap="nowrap" width="8.3%">迟到：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :late%></td>		
	 </tr>
	 <tr>	
	 		<td scope="row" nowrap="nowrap" width="8.3%">早退：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :leaver%></td>	
			<td scope="row" nowrap="nowrap" width="8.3%">调休：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :truant%></td>
			<td scope="row" nowrap="nowrap" width="8.3%">迟到时间：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :latetime%></td>		
	 </tr>
	  <tr>	
	 		<td scope="row" nowrap="nowrap" width="8.3%">早退时间：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :leavertime%></td>	
			<td scope="row" nowrap="nowrap" width="8.3%">加班：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :kuaban%></td>
			<td scope="row" nowrap="nowrap" width="8.3%">加班记录：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :kuabanrecord%></td>		
	 </tr>
	 <tr>	
	 		<td scope="row" nowrap="nowrap" width="8.3%">调休记录：</td>
			<td nowrap="nowrap" width="15%"><%=f.text_field :truantrecord%></td>	
					
	 </tr>
<script type="text/javascript" language="javascript">
    var fromKey = '';
    var toKey = 'billing';
    var checkbox = toKey + "_checkbox";
    var obj = new TestCheckboxReady(checkbox); 
</script>
</tbody></table>
</div>
<div id="LBL_EMAIL_ADDRESSES">



<div class="buttons">
  <p>
     <%= f.submit '提交' %>
  </p><% end %>
</div>

        </td></tr></tbody></table>
    </div>
